<a href="https://colab.research.google.com/github/VitorGomesder4/Pandas/blob/main/Pandas_ES_Vitor_N1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introdução à Programação Orientada a Objetos (POO)** _ Engenharia de Software
_ N1

Nome: Vitor Gomes Araújo

In [ ]:
#Pandas é uma biblioteca de codigo aberto que fornece estruturas de dados
#faceis de usar para a liguagem de programação python
#Além disso, a biblioteca fornece estrutura de dados de alto desempenho e
#ferramentas de análise de dados

In [ ]:
import pandas as pd #importa a biblioteca pandas para seu programa
dados = ["bayern-leverkusen", "flamengo", "são paulo"]
estados = ["Leverkusen", "Rio de janeiro", "São paulo"]

In [ ]:
from ast import Index
#Crie uma classe que modele uma pessoa
#OBS: por padrão, a cada ano que nossa pessoa envelhece, sendo a idade dela
#menor que 21 anos, ela deve crescer 0.5 cm
import pandas as pd
class pessoa:
  nome = str(input("Digite seu nome: "))
  peso = float(input("Digite seu peso: "))
  idade = int(input("Digite sua idade: "))
  altura = float(input("Digite sua altura: "))
  envelhecer = float(0.5)
  engordar = float()
  emagrecer = float()
  crescer = float()
  atributos = (nome, idade, peso, altura)
  metodos = (envelhecer, engordar, emagrecer, crescer)
  pessoa = atributos + metodos
#dataframe tem que ter os seguintes 4 parametros: #data #Index #columns #dtype

Digite seu nome: vitor
Digite seu peso: 55
Digite sua idade: 19
Digite sua altura: 1.75

In [ ]:
import pandas as pd
nomes = ["Ana", "Bruno", "Carla"]
idades = [21, 20, 22]
dados = list(zip(nomes, idades)) #uma tupla com duas listas
colunas = ("Nome", "Idade")
linhas = ("A", "B", "C")
print(dados)
df = pd.DataFrame(data = dados, columns = colunas, index = linhas)
print("\nDATA FRAME\n")
print("\n{}".format(df))

[('Ana', 21), ('Bruno', 20), ('Carla', 22)]

DATA FRAME


    Nome  Idade
A    Ana     21
B  Bruno     20
C  Carla     22

In [ ]:
import pandas as pd
dados = [("Ana", 21), ("Bruno", 20), ("Carla", 22)]
colunas = ("Nome", "Idade")
linhas = ("A", "B", "C")
df = pd.DataFrame(data = dados, columns = colunas, index = linhas)
print("\n{}".format(df))
print("\n")
print(list(df.index))
print("\n")
print(list(df.columns))
print("\n{}".format(df))
print("\n")
print(df.ndim)
print("\n")
print(df.shape)
print("\n")
print(df.size)
print("\n")
print(df.empty)
print(df)

    Nome  Idade
A    Ana     21
B  Bruno     20
C  Carla     22


['A', 'B', 'C']


['Nome', 'Idade']

    Nome  Idade
A    Ana     21
B  Bruno     20
C  Carla     22


2


(3, 2)


6


False
    Nome  Idade
A    Ana     21
B  Bruno     20
C  Carla     22