<a href="https://colab.research.google.com/github/VitorGomesder4/Pandas/blob/main/UnidadeVII_Deploy_Dataframe_Pandas_A2_2pts_VitorGomesAra%C3%BAjo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**UnidadeVII_Deploy_Dataframe_Pandas_A2_2pts_Kadidja** _ Engenharia de Software
_ N1

Nome: Vitor Gomes Araújo

Unidade VII_ Unidade VII_Introdução a programação orientada a objetos ⏰ Professora Kadidja Valéria
Utilizaremos a Biblioteca do Pandas na manipulação de DataFrames.
Além de trabalharmos com os fundamentos de classes, objetos e métodos.
 1 #Lembre-se: import pandas as pd
Atividade Deploy com Dataframe e o uso do Panda.
A seguir, apresento 5 propostas de Dataframe para criação e manipulação de Dados. Atenção: cada Dataframe possui 5 questões para
manipulação de dados. Em um novo notebook, pratique as propostas para a atividade avaliativa que tem o valor de 2,0 pts. para A2.
Dica: ⚡ A linha print() ao final do código serve para adicionar uma linha em branco após a impressão do DataFrame, melhorando a
legibilidade da saída no console. No entanto, isso não é obrigatório.
#Proposta 1: Dados de Clientes de uma Empresa de E-commerce
#a) Vendas Mensais
#b) Produto mais vendido
#c) Cliente que mais comprou
#d) Faturamento Mensal
#e) Adicionar uma nova coluna com o lucro
import pandas as pd
# Dados dos clientes
nomes_clientes = ["João", "Maria", "Pedro", "Ana", "Carlos"]
idades_clientes = [32, 45, 29, 37, 50]
cidade_clientes = ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "São Paulo", "Curitiba"]
# Dados das vendas
vendas_mensais = [5500, 6200, 4800, 7100, 5900]
produtos_mais_vendidos = ["Camisa", "Tênis", "Calça", "Camisa", "Tênis"]
quantidade_comprada = [210, 150, 180, 200, 160]
# Crie um dicionário contendo os dados dos clientes
dados_clientes = {
'Nome': nomes_clientes,
'Idade': idades_clientes,
'Cidade': cidade_clientes
}
# Crie um DataFrame a partir do dicionário
clientes_df = pd.DataFrame(dados_clientes)
# Dados das vendas
dados_vendas = {
'Vendas Mensais': vendas_mensais,
'Produto mais vendido': produtos_mais_vendidos,
'Quantidade comprada': quantidade_comprada
}
# Crie um DataFrame a partir do dicionário
vendas_df = pd.DataFrame(dados_vendas)
# Adicionar uma nova coluna com o lucro
lucro = [1000, 1200, 900, 1500, 1100]
vendas_df['Lucro'] = lucro
# a) Vendas Mensais
print("a) Vendas Mensais:")
print(vendas_df['Vendas Mensais'])
print()
# b) Produto mais vendido
produto_mais_vendido = vendas_df.loc[vendas_df['Vendas Mensais'].idxmax()]['Produto mais vendido']
print("b) Produto mais vendido:", produto_mais_vendido)
print()
# c) Cliente que mais comprou
cliente_mais_comprou = clientes_df.loc[vendas_df['Quantidade comprada'].idxmax()]['Nome']
print("c) Cliente que mais comprou:", cliente_mais_comprou)
print()
# d) Faturamento Mensal
faturamento_mensal = vendas_df['Vendas Mensais'].sum()
print("d) Faturamento Mensal:", faturamento_mensal)
print()
# e) Adicionar uma nova coluna com o lucro
print("e) DataFrame de Vendas com Lucro:")
print(vendas_df)
print()
23/04/2024, 12:45 UnidadeVII_Deploy_Dataframe_Pandas_A2_2pts_Kadidja.ipynb - Colab
https://colab.research.google.com/drive/18GCZe27Zmyz3mGOvfjx-MpNRpPDhzXuh?authuser=0#scrollTo=D2VyehE8lcO4&printMode=true 1/4

#Proposta 2: Dados de Estudantes de uma Escola
#a) Média de Notas
#b) Aluno com maior nota em Matemática
#c) Aluno mais novo
#d) Aluno com menor nota em História
#e) Adicionar uma nova coluna com a média geral das notas
import pandas as pd
# Dados dos alunos
nomes_alunos = ["João", "Maria", "Pedro", "Ana", "Carlos"]
idades_alunos = [18, 20, 19, 18, 21]
notas_matematica = [85, 90, 88, 92, 87]
notas_historia = [78, 85, 80, 88, 82]
notas_portugues = [90, 92, 87, 85, 89]
# Crie um dicionário contendo os dados dos alunos
dados_alunos = {
'Nome': nomes_alunos,
'Idade': idades_alunos,
'Matemática': notas_matematica,
'História': notas_historia,
'Português': notas_portugues
}
# Crie um DataFrame a partir do dicionário
alunos_df = pd.DataFrame(dados_alunos)
# a) Média de Notas
print("a) Média de Notas:")
print(alunos_df[['Matemática', 'História', 'Português']].mean())
print()
# b) Aluno com maior nota em Matemática
aluno_maior_matematica = alunos_df.loc[alunos_df['Matemática'].idxmax()]['Nome']
print("b) Aluno com maior nota em Matemática:", aluno_maior_matematica)
print()
# c) Aluno mais novo
aluno_mais_novo = alunos_df.loc[alunos_df['Idade'].idxmin()]['Nome']
print("c) Aluno mais novo:", aluno_mais_novo)
print()
# d) Aluno com menor nota em História
aluno_menor_historia = alunos_df.loc[alunos_df['História'].idxmin()]['Nome']
print("d) Aluno com menor nota em História:", aluno_menor_historia)
print()
# e) Adicionar uma nova coluna com a média geral das notas
alunos_df['Média Geral'] = alunos_df[['Matemática', 'História', 'Português']].mean(axis=1)
print("e) DataFrame de Alunos com Média Geral:")
print(alunos_df)
print()
23/04/2024, 12:45 UnidadeVII_Deploy_Dataframe_Pandas_A2_2pts_Kadidja.ipynb - Colab
https://colab.research.google.com/drive/18GCZe27Zmyz3mGOvfjx-MpNRpPDhzXuh?authuser=0#scrollTo=D2VyehE8lcO4&printMode=true 2/4

#Proposta 3: Dados de Funcionários de uma Empresa
#a) Média de Salários
#b) Funcionário com maior salário
#c) Funcionário mais jovem
#d) Funcionário com menor salário
#e) Adicionar uma nova coluna com o total de horas extras
import pandas as pd
# Dados dos funcionários
nomes_funcionarios = ["João", "Maria", "Pedro", "Ana", "Carlos"]
idades_funcionarios = [32, 45, 29, 37, 50]
salarios = [4000, 4200, 3800, 4100, 4300]
horas_extras = [8, 5, 7, 10, 6]
# Crie um dicionário contendo os dados dos funcionários
dados_funcionarios = {
'Nome': nomes_funcionarios,
'Idade': idades_funcionarios,
'Salário': salarios,
'Horas Extras': horas_extras
}
# Crie um DataFrame a partir do dicionário
funcionarios_df = pd.DataFrame(dados_funcionarios)
# a) Média de Salários
print("a) Média de Salários:")
print(funcionarios_df['Salário'].mean())
print()
# b) Funcionário com maior salário
print("b) Funcionário com maior salário:")
funcionario_maior_salario = funcionarios_df.loc[funcionarios_df['Salário'].idxmax()]
print(funcionario_maior_salario)
print()
# c) Funcionário mais jovem
print("c) Funcionário mais jovem:")
funcionario_mais_jovem = funcionarios_df.loc[funcionarios_df['Idade'].idxmin()]
print(funcionario_mais_jovem)
print()
# d) Funcionário com menor salário
print("d) Funcionário com menor salário:")
funcionario_menor_salario = funcionarios_df.loc[funcionarios_df['Salário'].idxmin()]
print(funcionario_menor_salario)
print()
# e) Adicionar uma nova coluna com o total de horas extras
funcionarios_df['Total de Horas Extras'] = funcionarios_df['Salário'] + (funcionarios_df['Horas Extras'] * 20) # Supondo que o valor da hora extra seja R$20
print("e) DataFrame de Funcionários com Total de Horas Extras:")
print(funcionarios_df)
print()
23/04/2024, 12:45 UnidadeVII_Deploy_Dataframe_Pandas_A2_2pts_Kadidja.ipynb - Colab
https://colab.research.google.com/drive/18GCZe27Zmyz3mGOvfjx-MpNRpPDhzXuh?authuser=0#scrollTo=D2VyehE8lcO4&printMode=true 3/4

#Proposta 4: Dados de Músicas de uma Plataforma de Streaming
#a) Mais ouvidas
#b) Artista com mais músicas
#c) Gênero mais popular
#d) Música mais recente
#e) Adicionar uma nova coluna com a duração em segundos
import pandas as pd
# Dados das músicas
nomes_musicas = ["A", "B", "C", "D", "E"]
artistas = ["X", "Y", "X", "Z", "Y"]
generos = ["Pop", "Rock", "Pop", "Indie", "Pop"]
ano_lancamento = [2021, 2020, 2021, 2021, 2020]
duracao_minutos = [3.5, 4.2, 3.8, 4.5, 3.2]
# Crie um dicionário contendo os dados das músicas
dados_musicas = {
'Música': nomes_musicas,
'Artista': artistas,
'Gênero': generos,
'Ano de Lançamento': ano_lancamento,
'Duração (minutos)': duracao_minutos
}
# Crie um DataFrame a partir do dicionário
musicas_df = pd.DataFrame(dados_musicas)
# a) Mais ouvidas
print("a) Mais ouvidas:")
mais_ouvida = musicas_df.loc[musicas_df['Ano de Lançamento'].idxmax()]['Música']
print(mais_ouvida)
print()
# b) Artista com mais músicas

#Proposta 5: Dados de Alimentação
#a) Calorias por porção
#b) Alimento com mais proteínas
#c) Alimento com menos calorias
#d) Alimento com mais calorias
#e) Adicionar uma nova coluna com a quantidade de carboidratos
import pandas as pd
# Dados dos alimentos
nomes_alimentos = ["Arroz", "Feijão", "Frango", "Ovo", "Batata"]
porcao_g = [100, 100, 100, 50, 100]
calorias = [130, 80, 165, 70, 77]
proteinas_g = [2.5, 4.0, 31.0, 6.0, 1.6]
carboidratos_g = [28.0, 14.0, 0, 0.5, 17.0]
# Crie um dicionário contendo os dados dos alimentos
dados_alimentos = {
'Alimento': nomes_alimentos,
'Porção (g)': porcao_g,
'Calorias': calorias,
'Proteínas (g)': proteinas_g
}
# Crie um DataFrame a partir do dicionário
alimentos df pd DataFrame(dados alimentos)

In [ ]:
import pandas as pd

In [ ]:
#Proposta 1: Dados de Clientes de uma Empresa de E-commerce
#a) Vendas Mensais
#b) Produto mais vendido
#c) Cliente que mais comprou
#d) Faturamento Mensal
#e) Adicionar uma nova coluna com o lucro
import pandas as pd

# Dados dos clientes
nomes_clientes = ["Viktor", "Gabriel", "Ben", "Paulo", "Ribamar"]
idades_clientes = [40, 28, 18, 19, 83]
cidade_clientes = ["Distrito Federal", "Recife", "Amapá", "Minas Gerais", "Distrito Federal"]

# Dados das vendas
vendas_mensais = [1000, 2000, 4700, 6420, 7000]
produtos_mais_vendidos = ["Celular", "Chip", "Placa-mãe", "Memória", "Processador"]
quantidade_comprada = [300, 220, 100, 520, 50]

# Crie um dicionário contendo os dados dos clientes
dados_clientes = {'Nome': nomes_clientes, 'Idade': idades_clientes, 'Cidade': cidade_clientes}

# Crie um DataFrame a partir do dicionário
clientes_df = pd.DataFrame(dados_clientes)
# Dados das vendas
dados_vendas = {
'Vendas Mensais': vendas_mensais,
'Produto mais vendido': produtos_mais_vendidos,
'Quantidade comprada': quantidade_comprada
}
# Crie um DataFrame a partir do dicionário
vendas_df = pd.DataFrame(dados_vendas)
# Adicionar uma nova coluna com o lucro
lucro = [2000, 212, 638, 2520, 3527]
vendas_df['Lucro'] = lucro
# a) Vendas Mensais
print("a) Vendas Mensais:")
print(vendas_df['Vendas Mensais'])
print()
# b) Produto mais vendido
produto_mais_vendido = vendas_df.loc[vendas_df['Vendas Mensais'].idxmax()]['Produto mais vendido']
print("b) Produto mais vendido:", produto_mais_vendido)
print()
# c) Cliente que mais comprou
cliente_mais_comprou = clientes_df.loc[vendas_df['Quantidade comprada'].idxmax()]['Nome']
print("c) Cliente que mais comprou:", cliente_mais_comprou)
print()
# d) Faturamento Mensal
faturamento_mensal = vendas_df['Vendas Mensais'].sum()
print("d) Faturamento Mensal:", faturamento_mensal)
print()
# e) Adicionar uma nova coluna com o lucro
print("e) DataFrame de Vendas com Lucro:")
print(vendas_df)
print()

a) Vendas Mensais:
0    1000
1    2000
2    4700
3    6420
4    7000
Name: Vendas Mensais, dtype: int64

b) Produto mais vendido: Processador

c) Cliente que mais comprou: Paulo

d) Faturamento Mensal: 21120

e) DataFrame de Vendas com Lucro:
   Vendas Mensais Produto mais vendido  Quantidade comprada  Lucro
0            1000              Celular                  300   2000
1            2000                 Chip                  220    212
2            4700            Placa-mãe                  100    638
3            6420              Memória                  520   2520
4            7000          Processador                   50   3527

In [ ]:
#Proposta 2: Dados de Estudantes de uma Escola
#a) Média de Notas
#b) Aluno com maior nota em Matemática
#c) Aluno mais novo
#d) Aluno com menor nota em História
#e) Adicionar uma nova coluna com a média geral das notas
import pandas as pd
# Dados dos alunos
nomes_alunos = ["Jonathan", "Danilo", "Juliana", "Gabriela", "Katrina"]
idades_alunos = [21, 20, 18, 17, 23]
notas_matematica = [99, 63, 53, 73, 80]
notas_historia = [45, 80, 90, 70, 80]
notas_portugues = [77, 78, 98, 75, 70]
# Crie um dicionário contendo os dados dos alunos
dados_alunos = {
'Nome': nomes_alunos,
'Idade': idades_alunos,
'Matemática': notas_matematica,
'História': notas_historia,
'Português': notas_portugues
}
# Crie um DataFrame a partir do dicionário
alunos_df = pd.DataFrame(dados_alunos)
# a) Média de Notas
print("a) Média de Notas:")
print(alunos_df[['Matemática', 'História', 'Português']].mean())
print()
# b) Aluno com maior nota em Matemática
aluno_maior_matematica = alunos_df.loc[alunos_df['Matemática'].idxmax()]['Nome']
print("b) Aluno com maior nota em Matemática:", aluno_maior_matematica)
print()
# c) Aluno mais novo
aluno_mais_novo = alunos_df.loc[alunos_df['Idade'].idxmin()]['Nome']
print("c) Aluno mais novo:", aluno_mais_novo)
print()
# d) Aluno com menor nota em História
aluno_menor_historia = alunos_df.loc[alunos_df['História'].idxmin()]['Nome']
print("d) Aluno com menor nota em História:", aluno_menor_historia)
print()
# e) Adicionar uma nova coluna com a média geral das notas
alunos_df['Média Geral'] = alunos_df[['Matemática', 'História', 'Português']].mean(axis=1)
print("e) DataFrame de Alunos com Média Geral:")
print(alunos_df)
print()

a) Média de Notas:
Matemática    71.8
História      73.0
Português     79.6
dtype: float64

b) Aluno com maior nota em Matemática: João

c) Aluno mais novo: Maria

d) Aluno com menor nota em História: João

e) DataFrame de Alunos com Média Geral:
     Nome  Idade  Matemática  História  Português  Média Geral
0    João     23          90        45         77    70.666667
1   Maria     18          63        80         78    73.666667
2   Pedro     30          53        90         98    80.333333
3     Ana     24          73        70         75    72.666667
4  Carlos     20          80        80         70    76.666667

In [ ]:
#Proposta 3: Dados de Funcionários de uma Empresa
#a) Média de Salários
#b) Funcionário com maior salário
#c) Funcionário mais jovem
#d) Funcionário com menor salário
#e) Adicionar uma nova coluna com o total de horas extras
import pandas as pd
# Dados dos funcionários
nomes_funcionarios = ["Robert", "Flavio", "Pedri", "João", "Thomas"]
idades_funcionarios = [23, 52, 32, 19, 70]
salarios = [10000, 4256, 3000, 8000, 2000]
horas_extras = [4, 8, 2, 12, 7]
# Crie um dicionário contendo os dados dos funcionários
dados_funcionarios = {
'Nome': nomes_funcionarios,
'Idade': idades_funcionarios,
'Salário': salarios,
'Horas Extras': horas_extras
}
# Crie um DataFrame a partir do dicionário
funcionarios_df = pd.DataFrame(dados_funcionarios)
# a) Média de Salários
print("a) Média de Salários:")
print(funcionarios_df['Salário'].mean())
print()
#b) Funcionário com maior salário
print("b) Funcionário com maior salário:")
funcionario_maior_salario = funcionarios_df.loc[funcionarios_df['Salário'].idxmax()]
print(funcionario_maior_salario)
print()
# c) Funcionário mais jovem
print("c) Funcionário mais jovem:")
funcionario_mais_jovem = funcionarios_df.loc[funcionarios_df['Idade'].idxmin()]
print(funcionario_mais_jovem)
print()
# d) Funcionário com menor salário
print("d) Funcionário com menor salário:")
funcionario_menor_salario = funcionarios_df.loc[funcionarios_df['Salário'].idxmin()]
print(funcionario_menor_salario)
print()
# e) Adicionar uma nova coluna com o total de horas extras
funcionarios_df['Total de Horas Extras'] = funcionarios_df['Salário'] + (funcionarios_df['Horas Extras'] * 20) # Supondo que o valor da hora extra seja R$20
print("e) DataFrame de Funcionários com Total de Horas Extras:")
print(funcionarios_df)
print()

a) Média de Salários:
5451.2

b) Funcionário com maior salário:
Nome            Robert
Idade               23
Salário          10000
Horas Extras         4
Name: 0, dtype: object

c) Funcionário mais jovem:
Nome            João
Idade             19
Salário         8000
Horas Extras      12
Name: 3, dtype: object

d) Funcionário com menor salário:
Nome            Thomas
Idade               70
Salário           2000
Horas Extras         7
Name: 4, dtype: object

e) DataFrame de Funcionários com Total de Horas Extras:
     Nome  Idade  Salário  Horas Extras  Total de Horas Extras
0  Robert     23    10000             4                  10080
1  Flavio     52     4256             8                   4416
2   Pedri     32     3000             2                   3040
3    João     19     8000            12                   8240
4  Thomas     70     2000             7                   2140

In [ ]:
#Proposta 4: Dados de Músicas de uma Plataforma de Streaming
#a) Mais ouvidas
#b) Artista com mais músicas
#c) Gênero mais popular
#d) Música mais recente
#e) Adicionar uma nova coluna com a duração em segundos
import pandas as pd
# Dados das músicas
nomes_musicas = ["Shape of You", "Bohemian Rhapsody", "Dance Monkey", "Blinding Lights", "Stairway to Heaven"]
artistas = ["Ed Sheeran", "Queen", "Tones and I", "The Weeknd", "Led Zeppelin"]
generos = ["Pop", "Rock", "Pop", "Indie", "Pop"]
ano_lancamento = [2017, 1975, 2019, 2019, 1971]
duracao_minutos = [3.54, 5.55, 3.30, 3.22, 8.02]
# Crie um dicionário contendo os dados das músicas
dados_musicas = {
'Música': nomes_musicas,
'Artista': artistas,
'Gênero': generos,
'Ano de Lançamento': ano_lancamento,
'Duração (minutos)': duracao_minutos
}
# Crie um DataFrame a partir do dicionário
musicas_df = pd.DataFrame(dados_musicas)
# a) Mais ouvidas
print("a) Mais ouvidas:")
mais_ouvida = musicas_df.loc[musicas_df['Ano de Lançamento'].idxmax()]['Música']
print(mais_ouvida)
print()
# b) Artista com mais músicas
contagem_artistas = musicas_df['Artista'].value_counts()
artista_mais_musicas = contagem_artistas.idxmax()
print("\nb) Artista com mais músicas:", artista_mais_musicas)
#c) Gênero mais popular
contagem_generos = musicas_df['Gênero'].value_counts()
genero_mais_popular = contagem_generos.idxmax()
print("\nc) Gênero mais popular:", genero_mais_popular)
#d) Música mais recente
musica_mais_recente = musicas_df.loc[musicas_df['Ano de Lançamento'].idxmax()]['Música']
print("\nd) Música mais recente:", musica_mais_recente)
#e) Adicionar uma nova coluna com a duração em segundos
musicas_df['Duração (segundos)'] = musicas_df['Duração (minutos)'] * 60
print("\ne) DataFrame de Músicas com Duração em Segundos:")
print(musicas_df)
print()

a) Mais ouvidas:
Dance Monkey


b) Artista com mais músicas: Ed Sheeran

c) Gênero mais popular: Pop

d) Música mais recente: Dance Monkey

e) DataFrame de Músicas com Duração em Segundos:
               Música       Artista Gênero  Ano de Lançamento  \
0        Shape of You    Ed Sheeran    Pop               2017
1   Bohemian Rhapsody         Queen   Rock               1975
2        Dance Monkey   Tones and I    Pop               2019
3     Blinding Lights    The Weeknd  Indie               2019
4  Stairway to Heaven  Led Zeppelin    Pop               1971

   Duração (minutos)  Duração (segundos)
0               3.54               212.4
1               5.55               333.0
2               3.30               198.0
3               3.22               193.2
4               8.02               481.2

In [ ]:
#Proposta 5: Dados de Alimentação
#a) Calorias por porção
#b) Alimento com mais proteínas
#c) Alimento com menos calorias
#d) Alimento com mais calorias
#e) Adicionar uma nova coluna com a quantidade de carboidratos
import pandas as pd
# Dados dos alimentos
nomes_alimentos = ["Macarrão", "Salmão", "Brócolis", "Queijo", "Cenoura"]
porcao_g = [100, 100, 100, 50, 100]
calorias = [130, 200, 34, 400, 41]
proteinas_g = [5, 25, 2, 25, 1]
carboidratos_g = [25, 0, 6, 2, 10]
# Crie um dicionário contendo os dados dos alimentos
dados_alimentos = {
'Alimento': nomes_alimentos,
'Porção (g)': porcao_g,
'Calorias': calorias,
'Proteínas (g)': proteinas_g,
'Carboidratos (g)': carboidratos_g
}
# Crie um DataFrame a partir do dicionário
alimentos_df = pd.DataFrame(dados_alimentos)
print(alimentos_df)
print()

#a) Calorias por porção
alimentos_df['Calorias por porção'] = alimentos_df['Calorias'] / alimentos_df['Porção (g)']
print("a) Calorias por porção:")
print(alimentos_df[['Alimento', 'Calorias por porção']])
print()

#b) Alimento com mais proteínas
alimento_mais_proteinas = alimentos_df.loc[alimentos_df['Proteínas (g)'].idxmax()]['Alimento']
print("b) Alimento com mais proteínas:", alimento_mais_proteinas)
print()

#c) Alimento com menos calorias
alimento_menos_calorias = alimentos_df.loc[alimentos_df['Calorias'].idxmin()]['Alimento']
print("c) Alimento com menos calorias:", alimento_menos_calorias)
print()

#d) Alimento com mais calorias
alimento_mais_calorias = alimentos_df.loc[alimentos_df['Calorias'].idxmax()]['Alimento']
print("d) Alimento com mais calorias:", alimento_mais_calorias)
print()

#e) Adicionar uma nova coluna com a quantidade de carboidratos
alimentos_df['Carboidratos (g)'] = carboidratos_g
print("e) DataFrame de Alimentos com Quantidade de Carboidratos:")
print(alimentos_df)
print()

   Alimento  Porção (g)  Calorias  Proteínas (g)  Carboidratos (g)
0  Macarrão         100       130              5                25
1    Salmão         100       200             25                 0
2  Brócolis         100        34              2                 6
3    Queijo          50       400             25                 2
4   Cenoura         100        41              1                10

a) Calorias por porção:
   Alimento  Calorias por porção
0  Macarrão                 1.30
1    Salmão                 2.00
2  Brócolis                 0.34
3    Queijo                 8.00
4   Cenoura                 0.41

b) Alimento com mais proteínas: Salmão

c) Alimento com menos calorias: Brócolis

d) Alimento com mais calorias: Queijo

e) DataFrame de Alimentos com Quantidade de Carboidratos:
   Alimento  Porção (g)  Calorias  Proteínas (g)  Carboidratos (g)  \
0  Macarrão         100       130              5                25
1    Salmão         100       200             25                 0
2  Brócolis         100        34              2                 6
3    Queijo          50       400             25                 2
4   Cenoura         100        41              1                10

   Calorias por porção
0                 1.30
1                 2.00
2                 0.34
3                 8.00
4                 0.41

In [ ]:
#Deploy
#Crie Listas
import pandas as pd
nome = ["Vitor", "Omar", "Lucas", "Gabriel"]
idade = [19, 20, 40, 63]
cidade = ["Vicente Pires", "Aguas Claras", "Taguatinga", "Guara-1"]
salario = [2000, 6000, 8200, 4200]
dados_pessoas = {
'Pessoas': nome,
'Idades': idade,
'Cidades': cidade,
'Salários': salario
}
pessoasdf = pd.DataFrame(dados_pessoas)
print(pessoasdf)
print()

#Desafio 1: Adicione uma nova pessoa
print("Desafio 1")
novo_nome = ["Juliana"]
novo_idade = [47]
novo_cidade = ["Vicente Pires"]
novo_salario = [47000]
nova_pessoa = pd.DataFrame({'Pessoas': novo_nome, 'Idades': novo_idade, 'Cidades': novo_cidade, "Salários": novo_salario})
pessoasdf = pd.concat([pessoasdf, nova_pessoa], ignore_index=True)
print(pessoasdf)
print()

#Desafio 2: Remova a terceira pessoa
print("Desafio 2")
pessoasdf.drop(2)
print(pessoasdf)

   Pessoas  Idades        Cidades  Salários
0    Vitor      19  Vicente Pires      2000
1     Omar      20   Aguas Claras      6000
2    Lucas      40     Taguatinga      8200
3  Gabriel      63        Guara-1      4200

Desafio 1
   Pessoas  Idades        Cidades  Salários
0    Vitor      19  Vicente Pires      2000
1     Omar      20   Aguas Claras      6000
2    Lucas      40     Taguatinga      8200
3  Gabriel      63        Guara-1      4200
4  Juliana      47  Vicente Pires     47000

Desafio 2
   Pessoas  Idades        Cidades  Salários
0    Vitor      19  Vicente Pires      2000
1     Omar      20   Aguas Claras      6000
2    Lucas      40     Taguatinga      8200
3  Gabriel      63        Guara-1      4200
4  Juliana      47  Vicente Pires     47000

In [ ]:
display(pessoasdf)

   Pessoas  Idades        Cidades  Salários
0    Vitor      19  Vicente Pires      2000
1     Omar      20   Aguas Claras      6000
2    Lucas      40     Taguatinga      8200
3  Gabriel      63        Guara-1      4200
4  Juliana      47  Vicente Pires     47000